@mixin button($width, $height) {
    display: inline-block;
    width: $width;
    height: $height;
    line-height: $height;
    text-align: center;
    cursor: pointer;
  }

  // Classes

.mt-large {
    margin-top: var(--padding-large);
  }
  
  .mb-large {
    margin-bottom: var(--padding-large);
  }
  
  .mb-medium {
    margin-bottom: var(--padding-medium);
  }

  
.title {
    h2 {
      color: white;
      font-size: 36px; 
      font-weight: 600;
      .accent {
          color: var(--accent-color);
      }
    }
  }